.form-div {
  background-color: #5896b6;
}

h3 {
  color: #ecd695;
  padding: 1%;
}

button {
  background-color: #253840;
  color: #d9c589;
  margin: 2%;
}

button:hover {
  background-color: #436370;
}

.locationBtn:focus {
  background-color: #436370;
}

.locationBtn {
  margin: 0, 5%;
}

p {
  font-size: x-large;
  color: #ecd695;
}

.tagBtn {
  margin-bottom: 1%;
}

.instructionModal  {
  background-color: #253840;
  border: 4px solid #5896b6;
  color: #d9c589;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header,
.modal-footer {
  border: none;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding-top: 15%;
  font-size: x-large;
  color: #ecd695
}

.centeredModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;

}
