.form-div {
  background-color: var(--background-color);
}

h3 {
  padding: 1%;
}

button {
  background-color: var(--header-color);
  color: var(--text-color);
  margin: 2%;
}

button:hover {
  background-color: var(--hover-header-color);
}

button:active {
  background-color: var(--active-text-color) !important;
  border-color: white !important;
}

.locationBtn:focus {
  background-color: var(--hover-header-color);
}

.locationBtn {
  margin: 0, 5%;
  white-space: nowrap;
}

p {
  font-size: x-large;
}

.tagBtn {
  margin-bottom: 1%;
  white-space: nowrap;
}

.tagList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tagItem {
  white-space: nowrap;
}

.instructionModal,
.deleteModal {
  background-color: var(--header-color);
  border: 4px solid var(--text-color);
  border-radius: 8px;
  box-shadow: 0 0 40px var(--text-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showAgainCheckbox {
  border-color: var(--text-color);
}

#showAgainCheckbox:focus {
  box-shadow: 0 0 5px var(--text-color);
}

#showAgainCheckbox:checked {
  background-color: var(--header-color);
  border-color: var(--text-color);
  color: var(--text-color);
}

.modal-header,
.modal-footer {
  border: none;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  font-size: x-large;
  color: var(--text-color);
}

.centeredModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
