.form-div {
  background-color: var(--background-color);
}

h3 {
  padding: 1%;
}

button {
  background-color: var(--header-color);
  color: var(--text-color);
  margin: 2%;
}

button:hover {
  background-color: var(--hover-header-color);
}

.locationBtn:focus {
  background-color: var(--hover-header-color);
}

.locationBtn {
  margin: 0, 5%;
}

p {
  font-size: x-large;
}

.tagBtn {
  margin-bottom: 1%;
}

.instructionModal,
.deleteModal {
  background-color: var(--header-color);
  border: 4px solid var(--header-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header,
.modal-footer {
  border: none;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  font-size: x-large;
  color: var(--text-color);
}

.centeredModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}
