:root {
  --header-color: #13070c;
  --footer-color: #13070c;
  --background-color: #f1e4d4;
  --text-color: #e0cf91;
}

#root {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: American Typewriter, serif;
}

.header {
  padding: 0.8%;
  background: linear-gradient(
    to bottom,
    var(--header-color) 70%,
    var(--background-color)
  );
}

.footer {
  padding-top: 6%;
  background: linear-gradient(
    to top,
    var(--footer-color) 20%,
    var(--background-color) 60%
  );
}

h1 {
  color: var(--text-color);
  margin-left: 3%;
}

.main {
  flex: 1;
}

/* Nav-link styling */
.link-item,
.link-item:focus,
.dropdown-toggle,
.dropdown-toggle:focus {
  color: var(--text-color);
}

/* Prevents items in dropdown from turning blue when clicked */
.link-item {
  background-color: transparent !important;
}

.link-item:hover,
.dropdown-toggle:hover {
  color: #96875d;
}

.dropdown-menu {
  background-color: var(--header-color);
  border: 3px solid var(--background-color);
}

.nav {
  margin-right: 3%;
}

main {
  background-color: var(--background-color);
  flex: 1;
}

.loginInput,
.weatherInput,
.tagInput {
  border-radius: 20px;
  margin: 0.4%;
}

.roundedBox {
  border-radius: 20px;
}

.mainHomeImage {
  max-height: 80%;
  border-radius: 10px;
  box-shadow:  0 0 30px var(--header-color);
  overflow: hidden;
}

.sideImage {
  max-width: 80%;
  max-height: auto;
  border-radius: 20px;
  box-shadow:  0 0 10px var(--header-color);
  overflow: hidden;
}
