:root {
  --header-color: #13070c;
  --footer-color: #13070c;
  --hover-header-color: #4b4a4a;
  --background-color: #f1e4d4;
  --text-color: #e0cf91;
  --hover-text-color: #96875d;
}

#root {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: American Typewriter, serif;
}

body {
  background-color: black;
}

.header {
  padding: 0.8%;
  background: linear-gradient(
    to bottom,
    var(--header-color) 85%,
    var(--background-color)
  );
}

.footer {
  padding-top: 6%;
  background: linear-gradient(
    to top,
    var(--footer-color) 20%,
    var(--background-color) 60%
  );
}

h1 {
  color: var(--text-color);
  margin-left: 3%;
}

.main {
  flex: 1;
}

/* Nav-link styling */
.link-item,
.link-item:focus,
.dropdown-toggle,
.dropdown-toggle:focus {
  color: var(--text-color);
}

/* Prevents items in dropdown from turning blue when clicked */
.link-item {
  background-color: transparent !important;
  display: inline-block;
}

.link-item:hover,
.dropdown-toggle:hover {
  color: var(--hover-text-color);
}

.dropdown-menu {
  background-color: var(--header-color);
  border: 3px solid var(--background-color);
}

.nav {
  margin-right: 3%;
}

main {
  background-color: var(--background-color);
  flex: 1;
}

.loginInput,
.weatherInput,
.tagInput {
  border-radius: 20px;
  margin: 0.4%;
}

.roundedBox {
  border-radius: 20px;
}

.homepage-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: "Great Vibes", cursive;
}

.hompage-navigation > div > h1 {
  display: flex;
  justify-content: center;
}

.homepage-navigation > div > h1 > a {
  font-size: 3.5rem;
}

.homepage-nav-options {
  justify-content: center;
  flex-wrap: nowrap;
}

.homepage-nav-options li {
  display: flex;
  width: auto;
  font-size: x-large
}

.modalBorder > .modal-dialog > .modal-content > div {
  border-radius: 8px
}

.error-text {
  color: rgb(204, 56, 56);
  font-size: 1.25rem;
}

.signup-text:hover {
  cursor: pointer;
  color: grey
}

@media screen and (max-width: 390px) {
  .homepage-nav-options {
    flex-wrap: wrap
  }
}