.spellName {
  color: #ecd695;
  font-size: larger;
  padding-top: 0.5%;
}

.spellText:hover {
  cursor: pointer;
  color: #ebe5d4;
}

.spellList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.spellList li {
    list-style: none;
    padding-left: 1.5%;
}

.spellSchool,
.spellLevel {
  border: 6px solid transparent
}

.spellSchool:hover,
.spellLevel:hover {
  cursor: pointer;
}

.selectedSchool,
.selectedLevel {
  background-color: pink;
  border: 6px solid pink;
  border-radius: 10px;
}

hr {
  border: 2px solid black;
  width: 90%;
  flex-grow: 1;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 3%
}