.list-sidebar-el {
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 2rem;
  margin-top: 6rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 5px 5px black;
}

.spell-list-select {
  /* justify-content: center; */
  display: flex;
  justify-self: center;
  background-color: var(--background-color);

}

.spell-list-select option {
  background-color: var(--background-color);
}

.list-spell:hover {
  color: var(--hover-text-color);
  cursor: pointer;
}