.fantasyLocationName:hover,
.clickText:hover {
  cursor: pointer;
  color: #ebe5d4;
}

#root {
  background-color: #5896b6;
}

.fantasyLocationName {
  font-size: xx-large;
  color: #d9c589;
}

.realLocationName {
  font-size: medium;
  color: grey;
}

.fantasyLocationItem {
  text-align: center;
}

.locationCard {
  margin-right: 8%;
  margin-left: 8%;
  background-color: #253840;
}

.weatherDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #d9c589;
}

.weatherCard {
  /* border: 1px solid red; */
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 1%;
  background-color: #253840;
  font-size: large;
  border-radius: 15px;
}

.fantasyLocationCard {
  margin-top: 3%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative
}

.realLocationCard {
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.clickText {
  margin-bottom: 3%;
  text-decoration: underline;
  font-size: larger;
}

.deleteIcon {
  position: absolute;
  top: 15%;
  right: 3%;
  color: rgb(180, 12, 12);
  cursor: pointer;
}

.deleteModal  {
  background-color: #253840;
  border: 4px solid #5896b6;
  color: #d9c589;
}

.modal-header,
.modal-footer {
  border: none;
}