.fantasyLocationName:hover,
.clickText:hover {
    cursor: pointer;
    color: grey;
}

.fantasyLocationName {
    font-size: xx-large;
}

.realLocationName {
    font-size: medium;
    color: grey;
}

.fantasyLocationItem {
    text-align: center;
}